<div class="row">
    <div class="col-md-6 mt-5">
        <button (click)="showUserForm = !showUserForm" class="btn btn-dark">
            Add User
        </button>
    </div>
</div>
<div class="row" *ngIf="showUserForm">
    <div class="col-md-12 mt-5">
        <h2 *ngIf="!isEdit">Add User</h2>
        <h2 *ngIf="isEdit">Update User</h2>
        <div class="card card-body">
            <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                <div class="form-group">
                    <label>Name</label>
                    <input
                        type="text"
                        #userName="ngModel"
                        [(ngModel)]="currentUser.name"
                        [ngClass]="{
                            'is-invalid': userName.errors && userName.touched
                        }"
                        class="form-control"
                        name="name"
                        required
                        minlength="2"
                    />
                    <div
                        [hidden]="!userName.errors?.required"
                        class="invalid-feedback"
                    >
                        User Name is required
                    </div>
                    <div
                        [hidden]="!userName.errors?.minlength"
                        class="invalid-feedback"
                    >
                        Must be at least 2 characters
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input
                        type="text"
                        #userEmail="ngModel"
                        [(ngModel)]="currentUser.email"
                        [ngClass]="{
                            'is-invalid': userEmail.errors && userEmail.touched
                        }"
                        class="form-control"
                        name="email"
                        required
                        minlength="3"
                    />
                    <div
                        [hidden]="!userEmail.errors?.required"
                        class="invalid-feedback"
                    >
                        Email is required
                    </div>
                    <div
                        [hidden]="!userEmail.errors?.pattern"
                        class="invalid-feedback"
                    >
                        Email is not valid
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input
                        type="text"
                        #userPhone="ngModel"
                        [(ngModel)]="currentUser.phone"
                        [ngClass]="{
                            'is-invalid': userPhone.errors && userPhone.touched
                        }"
                        class="form-control"
                        name="phone"
                        required
                        minlength="7"
                    />
                    <div
                        [hidden]="!userPhone.errors?.required"
                        class="invalid-feedback"
                    >
                        Phone is required
                    </div>
                    <div
                        [hidden]="!userPhone.errors?.minlength"
                        class="invalid-feedback"
                    >
                        Must be at least 7 characters
                    </div>
                </div>
                <div class="form-group">
                    <label>Website</label>
                    <input
                        type="text"
                        #userWebsite="ngModel"
                        [(ngModel)]="currentUser.website"
                        [ngClass]="{
                            'is-invalid':
                                userWebsite.errors && userWebsite.touched
                        }"
                        class="form-control"
                        name="website"
                        required
                        minlength="7"
                    />
                    <div
                        [hidden]="!userWebsite.errors?.required"
                        class="invalid-feedback"
                    >
                        Website is required
                    </div>
                    <div
                        [hidden]="!userWebsite.errors?.minlength"
                        class="invalid-feedback"
                    >
                        Must be at least 7 characters
                    </div>
                </div>

                <button
                    *ngIf="!isEdit"
                    class="button btn btn-dark btn-block"
                    [disabled]="!userForm.form.valid"
                >
                    Add new user
                </button>
            </form>
            <button
                (click)="updateUser()"
                *ngIf="isEdit"
                class="button btn btn-dark btn-block"
            >
                Update User
            </button>
        </div>
    </div>
</div>
